In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

In [7]:
print(data)

      Order ID                     Product Quantity Ordered Price Each
0       176558        USB-C Charging Cable                2      11.95  \
1          NaN                         NaN              NaN        NaN
2       176559  Bose SoundSport Headphones                1      99.99
3       176560                Google Phone                1        600
4       176560            Wired Headphones                1      11.99
...        ...                         ...              ...        ...
18378   194090                Google Phone                1        600
18379   194091       AA Batteries (4-pack)                1       3.84
18380   194092      AAA Batteries (4-pack)                2       2.99
18381   194093       AA Batteries (4-pack)                1       3.84
18382   194094    Lightning Charging Cable                1      14.95

           Order Date                        Purchase Address
0      04/19/19 08:46            917 1st St, Dallas, TX 75001
1                 NaN                                     NaN
2      04/07/19 22:30       682 Chestnut St, Boston, MA 02215
3      04/12/19 14:38    669 Spruce St, Los Angeles, CA 90001
4      04/12/19 14:38    669 Spruce St, Los Angeles, CA 90001
...               ...                                     ...
18378  04/08/19 17:11   177 Jackson St, Los Angeles, CA 90001
18379  04/15/19 16:02         311 Forest St, Austin, TX 73301
18380  04/28/19 14:36  347 Sunset St, San Francisco, CA 94016
18381  04/14/19 15:09         835 Lake St, Portland, OR 97035
18382  04/18/19 11:08          354 North St, Boston, MA 02215

[18383 rows x 6 columns]